@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gerenciamento de Estados e Cidades</h1>
    <p>Clique <a href="/Estados">aqui</a> para acessar o gerenciamento de Estados e Cidades.</p>
</div>
